# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- Data Science Libraries
- Python
- GitHub
- R
- Jupyter Notebook

1. Python
2. R
3. SQL

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. TensorFlow
6. Scikit-Learn

| Data Science Tools |
|---------------------|
| Jupyter Notebook |
| RStudio |
| Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers

17

In [4]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Karon Singleton